@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import '_vars';
@import '_reset';
@import 'fonts';
@import '_libs';
@import '_global';
@import '_media';

.header{
  background-image: url('../img/header/header-bg.jpg');
  background-color: #000;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  &__inner-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 110px;
  }
  &__user-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-btn{
    display: none;
  }
  &__menu-items{
    display: flex;
    align-items: center;
  }
  &__menu-item + .header__menu-item{
    margin-left: 5px;
  }
  &__menu-item{
    width: 85px;
    text-align: center;
  }
  &__menu-link{
    color: #fff;
    opacity: 0.6;
    text-decoration: none;
    transition: all 0.3s;
  }
  &__menu-link:hover{
    @extend %open-700;
    color: #FF4B32;
    opacity: 1;
    transition: all 0.3s;
  }
  &__nav{
    margin-left: 60px;
  }
  &__nav-items{
    display: flex;
    align-items: center;
  }
  &__nav-item + .header__nav-item{
    margin-left: 40px;
  }
  &__nav-link{
    position: relative;
  }
  &__nav-num{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF4B32;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    right: -55px;
    top: -5px;
    z-index: 2;
    @extend %roboto-500;
    font-size: 12px;
    line-height: 14px;
  }
  &__inner-content{
    max-width: 524px;
    padding-bottom: 110px;
  }
  &__title{
    @extend %josefin-700;
    font-size: 58px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 26px;
  }
  &__text{
    @extend %open-600;
    font-size: 20px;
    line-height: 160%;
    color: #fff;
    opacity: 0.8;
    margin-bottom: 48px;
  }
  &__link{
    padding: 16px 35px;
    color: #fff;
    @extend %open-600;
    background-color: #FF4B32;
    border-radius: 5px;
  }
}

.footer{
  background-color: #000;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 60px;
    margin-bottom: 50px;
  }
  &__item{
    width: 250px;
  }
  &__item-category,
  &__item-information{
    width: 165px;
    margin-right: 20px;
  }
  &__logo-img{
    margin-bottom: 30px;
  }
  &__text{
    font-size: 18px;
    line-height: 160%;
    @extend %open-400;
    color: #fff;
    margin-bottom: 30px;
  }
  &__tel{
    display: flex;
    align-items: center;
  }
  &__tel-link{
    font-size: 18px;
    line-height: 150%;
    margin-left: 10px;
    color: #fff;
    @extend %open-400;
  }
  &__title{
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    @extend %open-400;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  &__list-link{
    color: #fff;
    font-size: 18px;
    line-height: 150%;
    @extend %open-400;
  }
  &__list-item + .footer__list-item{
    margin-top: 20px;
  }
  &__social{
    display: flex;
  }
  &__social-title{
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    @extend %open-400;
    margin: 15px 0 45px;
  }
  &__social-link + .footer__social-link{
    margin-left: 30px;
  }
  &__copy{
    padding-bottom: 50px;
  }
  &__copy-text{
    color: #fff;
    text-align: center;
    width: 100%;
    padding-top: 25px;
    border-top: 1px solid #fff;
  }
}

.product{
  padding: 140px 0 70px;
  &__title{
    margin-bottom: 20px;
  }
  &__subtitle{
    margin-bottom: 60px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 12px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    max-width: 370px;
    height: 100%;
    margin: auto;
  }
  &__item-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 265px;
    margin-bottom: 35px;
  }
  &__item-price{
    font-size: 24px;
    line-height: 150%;
    color: #0c0c0c;
    @extend %josefin-700;
    margin-bottom: 10px;
  }
  &__item-name{
    font-size: 32px;
    line-height: 130%;
    color: #000;
    @extend %josefin-600;
    margin-bottom: 15px;
  }
  &__item-descr{
    max-width: 257px;
    font-size: 16px;
    line-height: 160%;
    color: #000;
    opacity: 0.6;
    @extend %open-400;
    margin-bottom: 30px;
  }
  &__item-form{
    display: flex;
    align-items: center;
    margin-top: auto;
  }
  &__item-btn{
    padding: 15px 30px;
    background-color: #FF4B32;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
  }
  .slider-btn{
    position: absolute;
    width: 46px;
    height: 46px;
    background-color: #fff;
    border: 1px solid #FF4B32;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s;
  }
  .slider-btn svg{
    position: absolute;
    top: -1px;
    right: -1px;
  }
  .slider-btn__prev{
    top: -148px;
    right: 60px;
    transform: rotate(180deg);
  }
  .slider-btn__next{
    top: -148px;
    right: 0;
  }
  .slider-btn:hover{
    transition: all 0.3s;
    opacity: 1;
  }
  .slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
  }
}

.jq-number__field input {
  max-width: 100%;
  padding: 12px 66px 12px 10px;
  text-align: center;
  border: none;
  @extend %roboto-500;
  font-size: 24px;
  line-height: 130%;
  color: #0c0d0c;
}

.jq-number{
  padding: 0 0 0 0;
  position: relative;
}

.jq-number__field {
  max-width: 114px;
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: none;
}

.jq-number__field:hover {
  border: 1px solid #000;
}

.jq-number__spin {
  position: absolute;
  width: 56px;
  height: 29px;
  border: 1px solid #000;
  cursor: pointer;
}

.jq-number__spin:hover {
  background: transparent;
}

.jq-number__spin:after {
  content: "";
  position: absolute;
  background-color: #000;
}

.jq-number__spin:before {
  content: "";
  position: absolute;
  background-color: #000;
}

.jq-number__spin.plus{
  top: 0;
  right: 0;
  border-top-right-radius: 2px;
}

.jq-number__spin.minus{
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 2px;
}

.jq-number__spin.minus:after {
  bottom: 12px;
  left: 22px;
  width: 10px;
  height: 2px;
}

.jq-number__spin.plus:after {
  top: 12px;
  left: 22px;
  width: 10px;
  height: 2px;
}

.jq-number__spin.plus:before {
  top: 8px;
  left: 26px;
  width: 2px;
  height: 10px;
}

.gallery{
  padding: 70px 0 140px;
  &__title{
    margin-bottom: 20px;
    text-align: center;
  }
  &__subtitle{
    margin: 0 auto 60px;
    text-align: center;
    max-width: 609px;
  }
  &__items{
    column-count: 3;
    grid-column-gap: 30px;
  }
  &__img{
    margin-bottom: 30px;
  }
  &__link{
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    max-width: 460px;
    padding: 15px 0;
    border-top: 2px solid #0D0402;
    border-bottom: 2px solid #0D0402;
  }
  &__link-load{
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FF4B32;
    @extend %open-400;
  }
}

.contact{
  background-color: #000;
  background-image: url('../img/contact-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 100px 0;
  &__inner-link{
    margin: 0 auto 65px;
    text-align: center;
  }
  &__link{
    font-size: 24px;
    line-height: 150%;
    padding-bottom: 25px;
    color: #FF4B32;
    border-bottom: 2px solid #FF4B32;
    @extend %open-600;
  }
  &__social{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__social-img{
    width: 50px;
    height: 50px;
  }
  &__social-link + .contact__social-link{
    margin-left: 40px;
  }
  &__title{
    margin: 0 auto 60px;
    text-align: center;
    font-size: 43px;
    line-height: 130%;
    color: #FFFFFF;
    @extend %josefin-600;
  }
  &__tel,
  &__mail{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__tel{
    margin-bottom: 25px;
  }
  &__mail{
    margin-bottom: 30px;
  }
  &__tel-img{
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }
  &__tel-link,
  &__mail-link{
    color: #fff;
    font-size: 24px;
    line-height: 150%;
    @extend %open-400;
  }
  &__mail-img{
    width: 17px;
    height: 14px;
    margin-right: 15px;
  }
}

.blog{
  padding: 140px 0;
  &__title{
    text-align: center;
    margin-bottom: 20px;
  }
  &__subtitle{
    max-width: 610px;
    text-align: center;
    margin: 0 auto 40px;
  }
  &__items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item{
    box-shadow: 40px 15px 136px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 20px;
  }
  &__item + .blog__item{
    margin-left: 30px;
  }
  &__content{
    padding: 30px;
  }
  &__item-title{
    font-size: 32px;
    line-height: 130%;
    @extend %josefin-600;
    color: #000;
    margin-bottom: 10px;
  }
  &__item-text{
    max-width: 300px;
    font-size: 16px;
    line-height: 160%;
    @extend %open-400;
    opacity: 0.7;
    color: #000;
    margin-bottom: 20px;
  }
  &__link{
    display: flex;
    align-items: center;
    max-width: 115px;
  }
  &__link-text{
    font-size: 16px;
    line-height: 160%;
    color: #FF4B32;
    @extend %open-600;
    margin-right: 10px;
  }
}

@media(max-width:1100px){
  .header{
    &__inner-top{
      padding-top: 10px;
      margin-bottom: 30px;
    }
    &__inner-content{
      padding-bottom: 40px;
    }
  }
}

@media(max-width:900px){
  .header{
    &__nav-item + .header__nav-item{
      margin-left: 15px;
    }
  }

  .footer{
    &__top{
      margin-bottom: 30px;
    }
    &__item-social{
      display: block;
      width: 100%;
      margin-top: 15px;
    }
    &__social-title {
      margin: 15px 0;
    }
  }

  .gallery{
    &__items {
      grid-column-gap: 10px;
    }
    &__img {
    margin-bottom: 10px;
}
  }
}

@media(max-width:800px){
  .header{
    &__title {
      font-size: 38px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 16px;
      margin-bottom: 30px;
    }
    &__nav {
      margin-left: 15px;
    }
  }
}

@media(max-width:750px){
  .header{
    &__inner-top {
      padding-top: 5px;
      margin-bottom: 15px;
    }
    &__menu{
      order: 1;
      margin-left: 20px;
    }
    &__menu-items{
      transform: translateY(-200%);
      transition: all .3s;
      position: absolute;
      left: 0;
      right: 0;
      top: 60px;
      background-color: #FF4B32;
      display: block;
      text-align: center;
      z-index: 3;
    }
    .header__menu-items.header__menu-items--active{
      transform: translateY(0);
      transition: all .3s;
    }
    &__menu-item{
      width: 100%;
    }
    &__menu-item + .header__menu-item {
      margin-left: 0px;
    }
    &__menu-btn{
      display: block;
      border: none;
      background-color: transparent;
      padding: 0;
      opacity: 0.7;
      cursor: pointer;
    }
    &__menu-link{
      opacity: 1;
      display: block;
      padding: 15px 0;
    }
    &__menu-link:hover{
      color: #fff;
      opacity: 1;
    }
    &__nav-item{
      width: 30px;
      height: 30px;
    }
    &__nav-item + .header__nav-item{
      margin-left: 10px;
    }
    &__nav-num {
      width: 18px;
      height: 18px;
      right: -40px;
    }
  }

  .product{
    padding: 40px 0 20px;
    &__title{
      margin-bottom: 0;
    }
    &__subtitle{
      margin-bottom: 20px;
    }
    &__item-img{
      margin-bottom: 20px;
    }
    &__item-name {
      font-size: 24px;
      margin-bottom: 10px;
    }
    &__item-descr {
      margin-bottom: 20px;
    }
    &__item-btn {
      padding: 15px 20px;
      margin-left: 10px;
    }
  }

  .gallery{
    padding: 20px 0 30px;
    &__title{
      margin-bottom: 0;
    }
    &__subtitle {
      margin: 0 auto 20px;
    }
    &__link {
      margin-top: 10px;
      padding: 10px 0;
    }
  }

  .contact{
    padding: 20px 0;
    &__link {
      padding-bottom: 5px;
    }
    &__inner-link {
      margin: 0 auto 20px;
    }
    &__title {
      margin: 0 auto 15px;
      font-size: 28px;
    }
    &__social-link + .contact__social-link {
      margin-left: 10px;
    }
    &__mail-link,
    &__tel-link{
      font-size: 18px;
    }
    &__tel,
    &__mail {
      margin-bottom: 15px;
    }
  }

  .blog{
    padding: 30px 0;
    &__title {
      margin-bottom: 0px;
    }
    &__subtitle {
      margin: 0 auto;
    }
    &__item + .blog__item{
      margin-left: 0px;
    }
  }

  .title{
    font-size: 32px;
  }
  .subtitle {
    font-size: 16px;
    line-height: 130%;
  }
}

@media(max-width:700px){
  .footer{
    &__top{
      justify-content: start;
      padding-top: 10px;
    }
    &__logo-img{
      margin-bottom: 10px;
    }
    &__text{
      margin-bottom: 10px;
    }
    &__title{
      margin-top: 30px;
      margin-bottom: 15px;
    }
    &__item-logo{
      width: 100%;
    }
    &__item-category,
    &__item-information{
      margin-right: 40px;
    }
    &__list-item + .footer__list-item {
      margin-top: 10px;
    }
    &__copy{
      padding-bottom: 20px;
    }
    &__copy-text{
      padding-top: 15px;
    }
  }
}

@media(max-width:600px){
  .gallery{
    &__items{
      column-count: 1;
    }
    &__img{
      margin: 0 auto 10px;
    }
  }
}

@media(max-width:500px){
  .header{
    &__title {
      font-size: 32px;
      line-height: 100%;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 16px;
      margin-bottom: 20px;
      line-height: 130%;
    }
    &__link {
      padding: 10px 30px;
    }
    &__inner-content {
      padding-bottom: 20px;
    }
  }
}




